---
- name: Create Nextcloud directories
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ nextcloud_data_directory }}/nextcloud"
    - "{{ nextcloud_data_directory }}/mariadb"

- name: Copying required files
  template: src={{item.src}} dest={{item.dest}}
  with_items:
    - { src: '../compose/docker-compose.yml', dest: '{{ docker_compose_dir }}/nc' }
    - { src: '../compose/Dockerfile', dest: '{{ docker_compose_dir }}/nc' }
    - { src: '../compose/start.sh', dest: '{{ docker_compose_dir }}/nc/start.sh' }

- name: Nextcloud Docker-Compose Container
  docker_compose:
    project_src: "{{ docker_compose_dir }}/nc"
    build: "true"
- name: Schedule a Nextcloud cron job
  cron:
      name: Nextcloud Cron
      minute: '*/15'
      job: 'docker exec -u www-data nc_nextcloud_1 php -f cron.php'
